@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import "tailwindcss";


*{
 
  box-sizing: border-box;
  
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section:nth-child(1) {
  height: 100vh;
  scroll-snap-align: center;
   background: linear-gradient(to bottom, #12071f, #2f204e);
   margin:0px;
   padding:0px;
}

section:nth-child(2){
  background-color: rgb(31, 75, 170);
  height: 100vh;
  scroll-snap-align: center;

}
section:nth-child(3){
  background-color: rgb(5, 38, 110);
  height: 100vh;
  scroll-snap-align: center;

}
section:nth-child(4){
  background-color: rgb(18, 6, 85); 
  height: 100vh;
  scroll-snap-align: center;
  margin:0px;
  padding:0px;

}

body{
  background: linear-gradient(to bottom, #12071f, #2f204e);
  color: white;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
  min-width: 1536px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
 
}


@media (min-width: 640px){
  .container{
    max-width: 640px
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px
  }
}



@media (min-width: 1024px){
  .container{
    max-width: 1024px
  }
}
@media (min-width: 1288px){
  .container{
    max-width: 1288px
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px
  }
}